src/db.sqlite3
src/settings/local
!src/settings/local/__init__.py
.DS_Store
.idea/
src/__pycache__/
src/apps/__pycache__/
src/apps/bank/__pycache__/
src/apps/bank/migrations/__pycache__/
src/apps/currency/__pycache__/
src/apps/currency/migrations/__pycache__/
src/apps/swagger/__pycache__/
src/apps/withdrawal_point/__pycache__/
src/apps/withdrawal_point/migrations/__pycache__/
src/settings/__pycache__/
