[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-split-settings = "*"
pillow = "*"
django-rest-framework = "*"
"psycopg2" = "*"
django-rest-swagger = "*"
django-filter = "*"
django-map-widgets = "*"
djangorestframework-gis = "*"

[dev-packages]

[requires]
python_version = "3.7"
